.fourthPartWhole{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourthPartTitle{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #92374D;
    margin-bottom: 16px;
    margin-top: 100px;
}
.fourthPartSubtitle{
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #16145F;
    margin-bottom: 160px;
}
.offersDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 147px;
    padding-right: 147px;
    flex-wrap: wrap
}
.offersWhole{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-bottom: 120px;
}
.offersImgDiv{
    aspect-ratio: 1/1;
    max-width: 100%;
}
.offersImg{
    border-radius: 360px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.offersText{
    margin-top: 64px;
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #16145F;
}
.offersDivMobile{
    display: none;
}
@media only screen and (min-width:1300px) and (max-width: 1440px) {
    .fourthPartTitle {
        font-size: 55px;
        line-height: 72px;
    }
    .fourthPartSubtitle {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 100px;
    }
}
@media only screen and (min-width:1024px) and (max-width: 1300px) {
    .fourthPartTitle{
        font-size: 55px;
        line-height: 72px;
    }
    .fourthPartSubtitle{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 100px;
    }
    .offersWhole{
        width: 350px;
    }
    .offersText{
        margin-top: 50px;
        font-size: 28px;
        line-height: 42px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1024px) {
    .fourthPartTitle{
        font-size: 50px;
        line-height: 55px;
        margin-top: 80px;
    }
    .fourthPartSubtitle{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 100px;
    }
    .offersText{
        margin-top: 50px;
        font-size: 28px;
        line-height: 42px;
    }
    .offersWhole{
        margin-bottom: 50px;
    }
}
@media only screen  and (max-width: 1023px) {
    .offersDivMobile{
        display: block;
    }
    .offersDiv{
        display: none;
    }
}
@media only screen and (min-width:425px) and (max-width: 768px) {
    .fourthPartTitle{
        font-size: 32px;
        line-height: 38px;
        margin-top: 50px;
    }
    .fourthPartSubtitle{
        font-size: 24px;
        line-height:30px;
        margin-bottom: 50px;
    }
}
@media only screen  and (max-width: 425px) {
    .fourthPartTitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 50px;
    }
    .fourthPartSubtitle{
        font-size: 24px;
        line-height:30px;
        margin-bottom: 30px;
    }
}