.queryWhole {
    background-color: #E2E2E9;
    border-radius: 32px;
    padding:80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.queryLeft{
    max-width:640px;
    width: 100%;
    height:640px;
}
.imgQuery{
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}
.queryRight{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.queryTitle{
    max-width: 329px;
    width: 100%;
    font-family: Effra_Trial_Medium, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 108px;
    color: #92374D;
    margin-bottom: 24px;
}
.queryText{
    max-width: 520px;
    width: 100%;
    font-family: Effra_Trial_Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    text-align: right;
    color: #16145F;
}
@media only screen and (min-width:1315px) and (max-width: 1440px) {
    .queryTitle{
        font-size: 62px;
        line-height: 88px;
    }
    .queryText{
        font-size: 40px;
        line-height: 50px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1315px) {
    .queryLeft{
        max-width:450px;
        height:450px;
        margin-bottom: 32px;
    }
    .queryRight{
        align-items: center
    }
    .queryWhole {
        flex-direction: column;
    }
    .queryTitle{
        font-size:40px;
        line-height: 66px;
        white-space: nowrap;
        text-align: center;
        /*margin-bottom: 24px;*/
    }
    .queryText{
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }
}
@media only screen and (min-width:425px) and (max-width: 768px) {
    .queryTitle{
        font-size:32px;
        line-height:48px;
        max-width:380px;
        width: 100%;
        text-align: center;
    }
    .queryText{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        max-width:380px;
        width: 100%;
    }
    .queryLeft{
        max-width:350px;
        height:350px;
        text-align: center;
        margin-bottom: 32px;
    }
    .queryRight{
        align-items: center
    }
    .queryWhole {
        flex-direction: column;
        padding: 32px 32px;
    }
}
@media only screen and (max-width: 425px) {
    .queryLeft{
        max-width:200px;
        height:200px;
        margin-bottom: 32px;
    }
    .queryRight{
        align-items: center
    }
    .queryWhole {
        flex-direction: column;
        padding: 32px 32px;
    }
    .queryTitle{
        font-size:32px;
        line-height:48px;
        text-align: center;
        max-width:200px;
        width: 100%;
    }
    .queryText{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        max-width:300px;
        width: 100%;
    }
}
