.sliderHome{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media only screen  and (max-width: 1440px) {
    .sliderHome{
        padding-bottom: 20px;
        padding-top: 0;
    }
}
